*{
    background-color: black;
    margin-top: 5px;
    display: inline;
}
aside{
    display:flex;
    position:absolute;
    font-family: "ocr-a-std" ;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 62px;
    min-height: 66px;
    min-width: 302px;
    white-space: nowrap;
    font-size: xx-large;
    color: antiquewhite;
    margin-left: 500px;
    top: 820px;
}
section{
    display:flex;
    position:absolute;
    font-family: "ocr-a-std" ;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 62px;
    min-height: 66px;
    min-width: 302px;
    white-space: nowrap;
    color: antiquewhite;
    margin-left: 1300px;
    top: 320px;
}